.new-expense__controls {
  padding: 1rem;
  background-color: aquamarine;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 10px 40px rebeccapurple;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    
  }
  
  .new-expense__control input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    box-shadow: 0 5px 20px black;
    display: flex;
    background-color: #4b4b4b;
    align-items: center;
  }
  
  .new-expense__actions {
    text-align: right;
  }