.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rebeccapurple;
  margin: auto;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 12px;
  width: 70rem;
  max-width: 95%;
  text-align: center;
  box-shadow: 10px 10px 10px aquamarine;
}
.App-topic {
  background-color: crimson;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  font-size: large;
  border-radius: 6rem;
  width: 10rem;
  box-shadow: 1px 4px 4px black;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
